/*---------------------------------------/
 * COMMON
/---------------------------------------*/
// base font styles
html {
  font-family: $font_family;
  color: $b;
  font-size: 10px;
}
//bx-size
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
}
