/*---------------------------------------/
 * COMMON
/---------------------------------------*/
// base font styles
html {
  font-family: $font_family;
  color: $b;
  font-size: 10px;
}
//bx-size
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

%btn-reset {
  background: none;
  border: 0;
  transition: 0.1s;
  font-family: $font_family;
  &:focus {
    outline: 0;
  }
}
.btn-main {
  @extend %btn-reset;
  display: inline-block;
  border: 2px solid $c2;
  color: $c2;
  font-size: 20px;
  border-radius: 4px;
  padding: 4px 0;
  width: 100px;
  &:hover {
    background-color: $c2;
    color: $c4;
  }
}

.btn-time {
  @extend %btn-reset;
  font-size: 12px;
  border: 2px solid $c1;
  border-radius: 200%;
  height: 30px; width: 30px;
  color: $c1;
  display: block;
  margin-bottom: 4px;
  &:hover {
    background-color: $c1;
    color: $c4;
  }
}
