//-------------------------------------
// size
//-------------------------------------
$width: 1200px;

//-------------------------------------
// Color
// https://coolors.co/ef6461-e4b363-e8e9eb-e0dfd5-313638
//-------------------------------------
$c1: #191919;
$c2: #fff;
$c3: #3F6FFF;
$c4: #A7A696;

$b: $c1;
$w: $c2;

//-------------------------------------
// Fonts
//-------------------------------------
@font-face {
	font-family: 'RobotoMono';
	src: url('../fonts/RobotoMono-Medium.ttf');
}
@font-face {
	font-family: 'RobotoMonoLight';
	src: url('../fonts/RobotoMono-Light.ttf');
}

$font_family:'RobotoMono', Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

//-------------------------------------
// HEIGHT LAYOUT
//-------------------------------------
$h_max: 678px;
$h_header: 90px;
$h_main: $h_max - $h_header;
