.List {
  list-style: none;
  margin: 100px 0 0 0;
  padding: 0;
}
.ListItem {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid black;
  li {
    display: inline-block;
    padding-left: 5px;
  }
}
